%div{:class=>'page-header'}
  %h1
    %welcome
      = current_user ? current_user.welcome_phrase : t(:welcome) + '!'
    %br
    %small
      = t(:domino_description)
  = render :partial => 'login' unless current_user