- if @game.available?
  = render :partial => 'game_description'
-elsif @domino_game
  = render :partial => 'domino/games/online/market'

  %div{:id=>"rotateBox",:class=>"drop-to-rotate"}
    %p
      Drop here to rotate

  - @domino_game.players.each_with_index do |player, i|
    = content_tag :div, render(:partial => 'domino/games/online/player_bones', :locals => {:player => player}), :class => player.player_id == current_user.id ? "my-position" : "player-#{i}"