- @messages.each do |m|
  %div{:class=>'message-wrapper'}
    - if @user.my_message?(m.author_id)
      %div{:class=>'author'}
        = User.find_by_id(m.author_id).name
    - else
      %div{:class=>'non-author'}
        = User.find_by_id(m.author_id).name
    %div{:class=>'content'}
      = m.message
    %div#chat-time
      = m.created_at.strftime('%H:%M')