// Place all the styles related to the domino controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  color: #0caa1d;
  position: center;
  margin-top: 10px;
}

welcome {
  margin-left: 250px;
}

body {
  background:  image-url('background_domino.jpg')

}
