// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin zoom {
  zoom:0.8;-moz-transform: scale(0.8);
}


div#online-play-game {
  margin: 30px 10px 0px 10px;
  border-radius: 10px;
  position: absolute;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #2ba6cb;
}

.online-main-container {
  width: 75%;
  margin: 10px 10px 10px 0px;
  position: absolute;
  padding: 10px;
  height: 90%;
}

.online-right-container {
  display: inline-block;
  margin: 10px 0px 10px 10px;
  position: absolute;
  padding: 10px;
  right: 10px;
  width: 20%;
  height: 90%;
}

.player-bones {
  margin: 10px 0px 10px 0px;
  height: 140px;
  width: auto;

}

div#battle-field {
  position: absolute;
  left: 250px;
  top: 250px;
  @include zoom;
}

div#market {


}
bone-rotated {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform:rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

div#player-2 {top: 5px;left: 400px;height: 135px;position: absolute;@include zoom;}      //top player
div#player-4 {bottom: 0px;left: 400px;height: 135px;position: absolute;@include zoom;}  //bottom player
div#player-1 {top: 110px;left: 0px;width: 135px;position: absolute;@include zoom;}            //left
div#player-3 {top: 110px;right: 0px;width: 135px;position: absolute;@include zoom;}           //right


div#rotateBox { width: 150px; height: 150px; padding: 0.5em; left: 200px; margin: 10px; border: 2px solid #cccccc; bottom: 0px; position: absolute}

.firstPlace {
  width: 65px;
  height: 135px;
  position: absolute;
  border: 2px solid #ccc;

}

.dynamicVDiv {
  width: 65px;
  height: 135px;
  position: absolute;
  border: 2px solid #ccc;
}

.dynamicHDiv {
  width: 135px;
  height: 65px;
  position: absolute;
  border: 2px solid #ccc;
}