%div#battle-field
  - #{@domino_game.battle_field.first_bone}
  - drop = "#6-6"
  - can_drop = 'true'
  %div{:id=>"firstPlace",:class=>"firstPlace", 'data-can-drop'=> can_drop,'data-which-drop'=> drop}
    Drop here to move!

  = @domino_game.battle_field.first_bone