%div.modal-header
  %button{:type=>"button", :class=>"close", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"}
    ×
  %h4.modal-hd
    = t('how_to_play.header')
%div.modal-body
  %h4.modal-desc
    = t('how_to_play.description')
  %div{:class=>"modal-footer"}
    <button class="btn" data-dismiss="modal" aria-hidden="true">
    = t('global.close')
    </button>

