%div#sidebar
  %sidebar
    = link_to t(:my_games), domino_games_path, :class => "btn btn-large btn-block btn-primary disabled"
    %div{:class=>"frame-header"}
    = render :partial => 'domino/users/statistic'

