%p
  %sidebar
    = link_to t(:my_games), domino_games_path, :class => "btn btn-large btn-block btn-primary disabled"
    %div{:class=>"frame-header"}
      = link_to t(:statistic), domino_user_path(current_user.id)
    = render :partial => 'domino/users/statistic'

