%div#sidebar
  %sidebar
    = link_to t('users.sidebar.my_games'), dd_games_path, :class => "btn btn-large btn-block btn-primary disabled"
    %div{:class=>"frame-header"}
    = render :partial => 'dd/users/statistic'
