%p
  %sidebar
    = link_to t(:my_statistic), '#', :class => "btn btn-large btn-block btn-primary disabled"

    = link_to t(:my_games), '#', :class => "btn btn-large btn-block btn-primary disabled"

    = link_to t(:my_rank), '#', :class => "btn btn-large btn-block btn-primary disabled"
