%div#footer
 %br
 = link_to t(:about), about_visitor_index_path, :class => "btn btn-large btn-large btn-primary disabled"
 = link_to t(:rules), '#', :class => "btn btn-large btn-large btn-primary disabled"

 %p{:class=>'copyright'}
  %small
   = 'Copyright and hsfgb blablalblablablablablalbalb'
  %p
   Online:

  %p
   vkontakte
   twitter