%p{:class=>'welcome'}
 = link_to t(:about), about_visitor_index_path, :class => "btn btn-large btn-large btn-primary disabled"
 -if current_user
  = link_to t(:log_out), logout_path, :class => "btn btn-large btn-large btn-primary disabled"
 - else
  = link_to t(:log_in), login_path, :class => "btn btn-large btn-large btn-primary disabled"


%div{:class =>'separator'}
%p{:class=>'welcome copyright'}
 %small
  = 'Copyright and hsfgb blablalblablablablablalbalb'