%p{:class=>"text-center"}
 = link_to t(:about), '#'
 = current_user ? link_to(t(:log_out), '#') : link_to(t(:log_in), )


%p{:class=>"text-center copyright"}
 %small
  = 'Copyright and hsfgb blablalblablablablablalbalb'